@media only screen and (max-width: 400px) {
  body {
    overflow: unset;
  }
  main {
    // position: absolute;
    // // position: relative;

    flex-direction: column;

    margin-top: 60rem;
    // margin-bottom: 10rem;
    max-width: 20rem;

    overflow: unset;
  }

  .img-girl-wrapper {
    position: relative;
    left: 6rem;
    bottom: 9.5rem;
    flex: unset;
    height: 13rem;
  }

  h1 {
    text-align: center;
  }

  .faq {
    position: relative;
    top: -6rem;
  }

  .img-girl-illustration {
    display: none;
  }

  .img-girl-desktop-background {
    top: -6rem;
  }
  // .img-girl {
  //   position: relative;
  //   top: -10rem;
  //   // position: absolute;
  // }

  // section > h1 {
  //   text-align: center;
  // }

  // .faq {
  //   padding: 1rem;
  // }
}
